h1 {
    color: chocolate;
    font-family: 'Lobster', cursive;
    font-size: 300px;
    font-weight: bold;
    letter-spacing: -px;
    line-height: 1;
    text-align: center;
    
}

p {
    color: blueviolet;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 200px;
    line-height: 200px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font-family: 'Lobster Two', cursive;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border-bottom: 5px solid #ccc;
    background-image: url(https://media.giphy.com/media/tfwj5xK0G7fTa/giphy.gif);
    height: 300px;
}

li:last-child {
    border: chocolate;
}

input, form {
    height:500px;
    width:600px;
    margin:auto;
    border:100px #CCC solid;
    padding:5005px;
    background-image: url("https://media.giphy.com/media/KxWMkAkGzJjs3joCSW/giphy.gif");
    color: red;
}
    
textarea {
    padding:100px;
    margin:50px;
    background-color: red;
}

body {
    background-image: url(https://media.giphy.com/media/ZeU05VjRJgFe8/giphy.gif);
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    background-color: darkmagenta;

}
